@use "../scss/variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.4s ease;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: $brown;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
}
