$custom-rust: #b25d27;
$custom-beige: #e9d3c2;
$custom-gold: #cbad6d;
$custom-white: #ffffff;
$custom-text: #3e2723;
$custom-hover: #dcc8b6;


$bg: $custom-beige;
$secondaryBg: $custom-white;
$softOrange: $custom-rust;


$white: #ffffff;
$darkBrown: $custom-text;
$gray: #7D6E68;
$black: #1a0f0a;
$green: #27ae60;
$red: #c0392b;


$mainText: $darkBrown;
$pureWhite: $white;
$dimWhite: rgba($white, 0.8);
$hover-bg: $custom-hover;
$brown: $custom-rust;
$bgNotFound: $custom-beige;