@use "../variables" as *;
.footer {
  width: 100%;
  padding: 16px 0;
  background-color: $brown;
  height: 100px;
  box-shadow: 1px 0 20px 1px $dimWhite;
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .copyright {
        font-size: 14px;
        color: $pureWhite;
        span {
          color: $pureWhite;
          font-weight: 700;
        }
      }
      .socialList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .socialItem {
          cursor: pointer;
          color: $dimWhite;
          &:hover {
            svg {
              path {
                color: $softOrange;
              }
            }
          }
        }
      }
      .inps {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .switch {
          font-size: 17px;
          position: relative;
          display: inline-block;
          width: 62px;
          height: 35px;
          transform: scale(0.7);
          input {
            opacity: 1;
            width: 0;
            height: 0;
            &:checked {
              & + .slider {
                background-color: $gray;
                border: 1px solid transparent;
              }
              & + .slider:before {
                transform: translateX(1.5em);
              }
            }
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0px;
            background: $pureWhite;
            transition: 0.4s;
            border-radius: 30px;
            border: 1px solid $gray;
            &::before {
              position: absolute;
              content: "";
              height: 1.9em;
              width: 1.9em;
              border-radius: 16px;
              left: 1.2px;
              top: 0;
              bottom: 0;
              background-color: $pureWhite;
              box-shadow: 0 2px 5px $gray;
              transition: 0.4s;
            }
          }
        }
        .language {
          outline: 0;
          border: 0;
          background: transparent;
          padding: 4px 12px;
          color: $gray;
          option {
            color: $gray;
            font-size: 18px;
          }
        }
      }
    }
  }
}
