@use "../variables" as *;
.header {
  background-color: $brown;
  padding: 5px 0;
  height: 80px;
  position: fixed;
  width: 100%;
  box-shadow: 1px 0 20px 1px $dimWhite;
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 100px;
        height: 70px;
      }
      .navBar {
        .navList {
          display: flex;
          gap: 20px;
          .listItem {
            a {
              font-size: 18px;
              color: $pureWhite;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}
