@use "../variables" as *;
.notFound {
  background-color: $brown;
  height: calc(100vh - 100px);
  padding-top: 70px;
  position: relative;
  z-index: -1;
  .container {
    .row {
      align-items: center;
      justify-content: space-around;
      .notFoundBlock {
        .notFoundTitle {
          position: relative;
          color: $softOrange;
          font-size: 50px;
          font-weight: 900;
          margin-bottom: 50px;
          animation: float 2s ease-in-out infinite;
        }
        .notFoundText {
          position: relative;
          font-size: 20px;
          color: $pureWhite;
          animation: op 2s ease-in-out infinite;
        }
        .link {
          margin-top: 60px;
          .backHome {
            color: $pureWhite;
            font-size: 15px;
            background-color: $softOrange;
            padding: 10px 15px;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
      .notFoundImg {
        width: 500px;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@keyframes float {
  0% {
    top: 0;
    opacity: 0.3;
  }
  50% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0.3;
  }
}
@keyframes op {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

// media
@media (max-width: 768px) {
  .notFound {
    padding-top: 150px;
    .container {
      .row {
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        .notFoundBlock {
          .notFoundTitle {
            font-size: 30px;
            margin-bottom: 20px;
          }
          .notFoundText {
            font-size: 15px;
          }
          .link {
            margin-top: 30px;
          }
        }
        .notFoundImg {
          width: 100%;
          height: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
