@use "../../variables" as *;
.profile {
  height: 90vh;
  padding-top: 130px;
  .container {
    .row {
      height: 100vh;
      align-items: center;
      flex-direction: column;
      .profileTitle {
        color: $pureWhite;
      }
      .profileUserData {
        width: 100%;
        color: $pureWhite;
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
        .rightSide {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            color: $pureWhite;
          }
        }
        .profileImg {
          border-radius: 50%;
          background-color: $softOrange;
          width: 250px;
          height: 250px;
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
