@use "../../variables" as *;
.profile {
  height: fit-content;
  padding-top: 40px;
  background: linear-gradient(#000000d0),
    url("../../../img/bean.webp") center/cover;
  .container {
    .row {
      align-items: center;
      flex-direction: column;
      .profileTitle {
        color: $pureWhite;
      }
      .profileUserData {
        width: 100%;
        color: $pureWhite;
        margin: 50px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .btnSettingTo {
          color: $pureWhite;
          border: 1px solid $pureWhite;
          border-radius: 4px;
          padding: 10px;
          font-size: 16px;
          font-weight: 600;
          &:active {
            transform: scale(0.8);
          }
          &:hover {
            background-color: $softOrange;
            color: $black;
            font-size: 16px;
            border: 1px solid $black;
          }
        }
        .rightSide {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            color: $pureWhite;
            display: flex;
            align-items: center;
            gap: 10px;
            .icon {
              font-size: 25px;
            }
          }
        }
        .profileImg {
          border-radius: 50%;
          background-color: $softOrange;
          width: 150px;
          height: 150px;
          &.zoomed {
            margin-top: 150px;
            transform: scale(4);
            border-radius: 10px;
            img {
              border-radius: 0%;
            }
          }
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
