@use "../../variables" as *;
.allCoffe {
  padding: 50px 0;
  background-color: $brown;
  background: linear-gradient(#000000e6),
    url("../../../img/bean.webp") center/contain;
  height: fit-content;
  .container {
    .row {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .coffeeTitle {
        color: $pureWhite;
      }
      .table,
      tr,
      td,
      th {
        border: 1px solid $pureWhite;
        border-collapse: collapse;
        text-align: center;
      }
      .table {
        width: 100%;
        td,
        th {
          padding: 8px;
          color: $pureWhite;
        }
        .carImg {
          width: 10%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .edit {
          a {
            margin-right: 10px;
          }
          a {
            &:hover {
              svg {
                path {
                  color: $green;
                }
              }
            }
          }
          svg {
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              path {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}
